@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-border-radius: 10px;
  --secondary-border-radius: 5px;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  margin: 10px;
}
.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.block-container {
  display: flex;
  border-radius: var(--main-border-radius);
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0 10px;
  background-color: aquamarine;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--secondary-border-radius);
  height: auto;
  width: 100%;
  background-color: black;
}

.search input {
  width: 100%;
  border-radius: var(--secondary-border-radius);
  padding: 5px;
  margin: 5px;
  border: none;
  outline: none;
  font-size: 26px;
}

.search button {
  border-radius: var(--secondary-border-radius);
  padding: 10px;
  margin: 5px;
  border: none;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--secondary-border-radius);
  height: 300px;
  width: 100%;
  background-color: black;
}

.content__today {
  display: flex;
  flex-direction: column;
  border-radius: var(--secondary-border-radius);
  height: 49%;
  width: 100%;
  padding: 10px;
  background-color: wheat;
}

.content__hourly {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: var(--secondary-border-radius);
  height: 49%;
  width: 100%;
  background-color: wheat;
}

.hour {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 3px;
  padding: 5px;
  height: 95%;
  width: 100%;
  border-radius: var(--secondary-border-radius);
  background-color: black;
  color: white;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: black;
}

.map h2 {
  color: white;
  font-size: 50px;
}

.weekdays-title {
  margin: 0 5px;
}

.week__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: var(--secondary-border-radius);
  padding: 5px;
  height: 100%;
  width: 100%;
  background-color: wheat;
}

.weekday {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  margin: 0 3px;
  border-radius: var(--secondary-border-radius);
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
}

.fa-solid {
  font-size: 24px;
}
